ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1385B7;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #FFC300;
}

.active {
  background-color: #FFC300;
}

.boxed {
    border: 1px solid #FFC300;
    padding: 20px 20px 20px 20px;
}
