#logo{
    border-radius: 50;
  }
#nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1385B7;
}

li {
  float: left;
  color:white;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #FFC300;
}

.active {
  background-color: #FFC300;
}

.boxed {
    border: 1px solid #FFC300;
    padding: 20px 20px 20px 20px;
}

#badge6, #badge5, #badge4, #badge3, #badge2, #badge1{
    text-align: center;
    height:227px;
    width:200px;
    padding:20px 20px 20px 20px;
}
#skill1,#skill2,#skill3,#skill4,#skill5,#skill6,#skill7,#skill8,#skill9{
    text-align: center;
    height:227px;
    width:200px;
    padding:20px 20px 20px 20px;
}
h3{
    color:#1385B7;
}
.isfooter{
    background: #1385B7;
    color:white;
    height:40%;
    width:100%;
    padding:20px 20px 20px 20px;
}
.col-md-2{
    width:50%;
}
#footer1,#footer2,#footer3,#footer4,#footer5{
    height:50px;
    width:50px;
}

.flip-box {
  background-color: black;
  width: 100%;
  height: 500px;
  border: 1px solid black;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 500px;
  padding: 20px,20px,20px,20px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: black;
  color: white;
}

.flip-box-back {
  background-color: black;
  color: white;
  transform: rotateY(180deg);
}

.container {
  position: relative;
}

.topleft {
  position: absolute;
  top: 150px;
  left: 350px;
  font-size: 18px;
}

#headerimg { 
  width: 100%;
  height: auto;
  opacity: 0.5;
}
#home,#achievements,#skills,#contact,#experience{
    color:white;
}
 p,h4{
     color:white;
 }
