  
#logo{
      height:250px;
      width: 250px;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1385B7;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #FFC300;
}

.active {
  background-color: #FFC300;
}

.boxed {
    border: 1px solid #FFC300;
    padding: 20px 20px 20px 20px;
}

#badge6, #badge5, #badge4, #badge3, #badge2, #badge1{
    text-align: center;
    height:227px;
    width:200px;
    padding:20px 20px 20px 20px;
}
#skill1,#skill2,#skill3,#skill4,#skill5,#skill6,#skill7,#skill8,#skill9{
    text-align: center;
    height:227px;
    width:200px;
    padding:20px 20px 20px 20px;
}
